<div class="widgetSlidePanel widgetSlidePanel-sideLeftRight widgetSlidePanel-rightShadow overContent overContent--topRight " 
widget-slide-panel="right" widget-slide-panel-type="desktop">

	<div class="widgetSlidePanel-header">
		<i class="fa fa-times-circle" ng-click="appMain.slidePanel.showRight=false"></i>
		Menu Text		
	</div>
   <div class="widgetSlidePanel-content"></div>
</div>


<!--<div class="widgetSlidePanel widgetSlidePanel-sideLeftRight  widgetSlidePanel-leftShadow overContent overContent--topLeft"
     widget-slide-panel="left" widget-slide-panel-type="desktop">

   <div class="widgetSlidePanel-header">
      <i class="fa fa-times-circle" ng-click="appMain.slidePanel.showLeft=false"></i>
      Menu Text
   </div>
   <div class="widgetSlidePanel-content"></div>
</div>-->

<!--<div class="widgetSlidePanel widgetSlidePanel-sideTopBottom  widgetSlidePanel-topShadow overContent overContent--topCenter" widget-slide-panel="top" widget-slide-panel-type="desktop">
   <div class="widgetSlidePanel-header">
      <i class="fa fa-times-circle" ng-click="appMain.slidePanel.showTop=false"></i>
      Menu Text
   </div>
   <div class="widgetSlidePanel-content"></div>
</div>-->

<!--<div class="widgetSlidePanel widgetSlidePanel-sideTopBottom widgetSlidePanel-bottomShadow  overContent overContent--bottomCenter"
     widget-slide-panel="bottom" widget-slide-panel-type="desktop">
   <div class="widgetSlidePanel-header">
      <i class="fa fa-times-circle" ng-click="appMain.slidePanel.showBottom=false"></i>
      Menu Text
   </div>
   <div class="widgetSlidePanel-content"></div>
</div>-->