<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
   <title>Angular seed project</title>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">

   <!-- Third party css -->
   <link rel="stylesheet" href="components/css/fileuploader.css">
   <link rel="stylesheet" href="components/css/toaster.css" />
   <link rel="stylesheet" href="components/css/bootstrap.min.css" />
   <link rel="stylesheet" href="components/css/animate.css" />
   <link rel="stylesheet" href="components/css/colpick.css" />
   <link rel="stylesheet" href="components/css/sceditor/square.min.css" />
   <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

   <!-- Own css -->
   <link rel="stylesheet/less" type="text/css" href="components/css/app.less" />
   <!--<link rel="stylesheet" href="components/css/app.css" />-->

</head>
<body>
   <ajax-loading></ajax-loading>
   <toaster-container toaster-options="{'position-class': 'toast-top-right'}"></toaster-container>

   <nav class="navbar navbar-default">
      <div class="container-fluid">
         <!-- Brand and toggle get grouped for better mobile display -->
         <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" aria-expanded="false" ng-click="isCollapsedMenuNavBar = !isCollapsedMenuNavBar">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Brand</a>
         </div>

         <!-- Collect the nav links, forms, and other content for toggling -->
         <div collapse="isCollapsedMenuNavBar">

            <ul class="nav navbar-nav">
               <li class="active">
                  <a href="#">Link <span class="sr-only">(current)</span></a>
               </li>
               <li>
                  <a href="#">Link</a>
               </li>
               <li class="dropdown" dropdown>
                  <a href="" class="dropdown-toggle" dropdown-toggle role="button" aria-haspopup="true" aria-expanded="false">
                     Dropdown <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="simple-dropdown">
                     <li><a href="#">Action</a></li>
                     <li><a href="#">Another action</a></li>
                     <li><a href="#">Something else here</a></li>
                     <li role="separator" class="divider"></li>
                     <li><a href="#">Separated link</a></li>
                     <li role="separator" class="divider"></li>
                     <li><a href="#">One more separated link</a></li>
                  </ul>
               </li>
            </ul>

            <form class="navbar-form navbar-left" role="search">
               <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search">
               </div>
               <button type="submit" class="btn btn-default">Submit</button>
            </form>

            <ul class="nav navbar-nav navbar-right">
               <li><a href="#">Link</a></li>
               <li class="dropdown" dropdown>
                  <a href="#" class="dropdown-toggle" dropdown-toggle role="button" aria-haspopup="true" aria-expanded="false">
                     Dropdown <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                     <li><a href="#">Action</a></li>
                     <li><a href="#">Another action</a></li>
                     <li><a href="#">Something else here</a></li>
                     <li role="separator" class="divider"></li>
                     <li><a href="#">Separated link</a></li>
                  </ul>
               </li>
            </ul>

         </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
   </nav>

   <div ng-view class="js-view container-fluid" ng-class="{'fullHeight': appMain.viewFullHeight }"></div>

   <footer class="footer row guideLine--blue text-center">
      <span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span> <small>Companyname.com</small>
   </footer>

   <!-- Third party js -->
   <script src="components/js/lib/jquery-1.11.3.min.js"></script>
   <script src="components/js/lib/underscore-min.js"></script>
   <script src="components/js/lib/less.min.js"></script>
   <script src="components/js/lib/chance.min.js"></script>
   <script src="components/js/lib/colpick.js"></script>
   <script src="components/js/lib/jquery.sceditor.min.js"></script>
   <script src="components/js/lib/fileuploader.js"></script>

   <!-- Angular JS -->
   <script src="components/js/angular/angular.min.js"></script>
   <script src="components/js/angular/angular-route.min.js"></script>
   <script src="components/js/angular/angular-animate.min.js"></script>
   <script src="components/js/angular/angular-resource.min.js"></script>
   <script src="components/js/angular/angular-sanitize.min.js"></script>
   <script src="components/js/angular/angular-cookies.min.js"></script>

   <!-- Third party angular modules -->
   <script src="components/js/services/ui-bootstrap-tpls-0.13.3.min.js"></script>
   <script src="components/js/services/toaster.js"></script>
   <script src="components/js/services/angular-facebook.js"></script>

   <!-- Own scripts -->
   <script src="app.js"></script>
   <script src="components/js/services/appMain.js"></script>
   <script src="components/js/services/googleMapsSrv.js"></script>
   <script src="components/js/services/authentication.js"></script>
   <script src="components/js/services/request.js"></script>
   <script src="components/js/services/rest.js"></script>
   <script src="components/js/directives/common.js"></script>

   <!-- Features scripts -->
   <script src="view1/view1.controller.js"></script>
   <script src="view1/view1.service.js"></script>
   <script src="view2/view2.controller.js"></script>
   <script src="view2/view2.service.js"></script>
   <script src="login/login.controller.js"></script>

</body>
</html>
