<div id="loginRegister" class="overContent overContent--centerAll col-md-4 col-sm-6 col-xs-10" >

	<div class="panel panel-default" ng-hide="showRegister" >
  		<div class="panel-heading">
  			<span class="panel-heading-text">Login</span>
  		</div>
	  	<div class="panel-body">
	  		<form name="loginForm" role="form" ng-submit="login();">
	  			<div class="form-group">
					<label for="login-mail">Email</label>
					<input type="email" name="email" ng-model="loginData.email" class="form-control" id="login-mail" placeholder="Your email address" required />
				</div>
				<div class="form-group">
					<label for="login-pass">Password</label>
					<input type="password" name="password" ng-model="loginData.password" class="form-control" id="login-pass" placeholder="Your password" required />
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-default">
						<i class="fa fa-sign-in"></i>
						Submit
					</button>
				</div>
	  		</form>
	  		<div>
	  			<a class="btn btn-social btn-facebook mbot10" ng-click="facebookAuthentication();">
					<i class="fa fa-facebook"></i>
             	<span class='social-divider'></span>
             	<span class='social-text'>Facebook</span>
           	</a>
		  		<a class="btn btn-social btn-google" ng-click="googleAuthentication();">
					<i class="fa fa-google-plus"></i>
             	<span class='social-divider'></span>
          		<span class='social-text'>Google</span>
           	</a>
	  		</div>
	  		<hr />
	  		<span class='social-title'><strong>New user ?</strong></span>
	  		<a class="btn btn-default btn-temp" ng-click="showRegister = true">
				<i class="glyphicon glyphicon-user"></i>
				<span>Register</span>
			</a>
			<hr />
	  	</div>
	</div>

	<div class="panel panel-default" ng-show="showRegister">
		<div class="panel-heading">
  			<span class="panel-heading-text">Register</span>
  		</div>
	  	<div class="panel-body">
	  		<form name="registerForm" role="form" ng-submit="register();">
	  			<div class="form-group">
					<label for="register-nick">User Name (Nick)</label>
					<input type="text" name="nick" class="form-control" ng-model="registerData.nick" id="register-nick" placeholder="Your user name" required />
				</div>
	  			<div class="form-group">
					<label>Email</label>
					<input type="email" name="email" class="form-control" ng-model="registerData.email" ng-class="main.formValidation.isValid(registerForm.email)"
					placeholder="Your email address" required />
				</div>
				<div class="form-group">
					<label>Password</label>
					<input type="password" name="password" class="form-control" ng-class="main.formValidation.isSamePass(registerForm.password,registerForm.password2)"
					ng-model="registerData.password" placeholder="Your password" required />
				</div>
				<div class="form-group">
					<label for="register-confirmPass">Confirm Password</label>
					<input type="password" name="password2" class="form-control" ng-model="registerData.password2" placeholder="Confirm your password" required
					ng-class="main.formValidation.isSamePass(registerForm.password,registerForm.password2)" />
				</div>

				<div class="form-group">
					<button type="submit" class="btn btn-default">
						<i class="glyphicon glyphicon-user"></i>
						Submit
					</button>
				</div>

	  		</form>
	  		<hr />
	  		<a class="btn btn-default btn-temp" ng-click="showRegister = false">
				<i class="fa fa-arrow-left"></i>
				<span>Back</span>
			</a>
	  	</div>
	</div>

</div>