@fb-action: #3B5998;
@gg-action: #DE4B39;
@expcity-action: #1087DD;

.guideLine {
   border: 1px dashed gray;
}

.guideLine--blue {
   border: 1px dashed gray;
   border-color: blue;
}

.guideLine--red {
   border: 1px dashed gray;
   border-color: red;
}

.fullHeight {
   height: 100%;
   max-height: 100%;
}

.fullWidth {
   width: 100%;
   max-width: 100%;
}

body,html {
   .fullHeight;
}

.overContent {
   position: absolute;
   /*z-index: 100;*/
}

.overContent--topCenter {
   top: 0;
   right: 0;
   left: 0;
   margin-left: auto;
   margin-right: auto;
}

.overContent--topLeft {
   top: 0;
   bottom: 0;
   left: 0;
   margin-left: auto;
   margin-right: auto;
}

.overContent--topRight {
   top: 0;
   right: 0;
   bottom: 0;
   margin-left: auto;
   margin-right: auto;
}

.overContent--bottomCenter {
   right: 0;
   bottom: 0;
   left: 0;
   margin-left: auto;
   margin-right: auto;
}

.overContent--bottomRight {
   right: 0;
   bottom: 0;
   margin-left: auto;
   margin-right: auto;
}

.overContent--bottomLeft {
   bottom: 0;
   left: 0;
   margin-left: auto;
   margin-right: auto;
}

.overContent--centerAll {
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   margin: auto;
}

.overContent--centerLeft {
   top: 0;
   bottom: 0;
   left: 0;
   margin: auto;
}

.overContent--centerRight {
   top: 0;
   bottom: 0;
   right: 0;
   margin: auto;
}

.zebraBox {
   padding: 4px;
   margin-bottom: 10px;
}

.zebraBox.zebraBox-withPadding .zebraBox-item {
   padding: 5px;
}

.zebraBox-item {
   margin-bottom: 4px;
}

.zebraBox-item:nth-of-type(even) {
   background: #F4F4F4;
   border-bottom: 1px solid rgb(188, 188, 188);
   border-top: 1px solid rgb(224, 224, 224);
}

#loadingAjax {
   /* position: absolute;*/
   background: 0;
   filter: Alpha(Opacity=18);
   opacity: .30;
   width: 46px;
   height: 46px;
   position: fixed;
   top: 50%;
   left: 50%;
   z-index: 101;
}

.verticalScroll {
   overflow: hidden;
   overflow-y: auto;
}

.truncateText {
   display: block;
   overflow: hidden;
   -ms-text-overflow: ellipsis;
   -o-text-overflow: ellipsis;
   text-overflow: ellipsis;
   white-space: nowrap;
}

.cursorPointer {
   cursor: pointer;
}

.noMarginBootstrap {
   margin-left: 0;
   margin-right: 0;
}

.noPaddingBootstrap {
   padding-left: 0;
   padding-right: 0;
}

#loginRegister {
   height: 500px;
}

/* Social login buttons */
.btn-social {
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   display: inline-block;
   font-weight: bold;
   padding-left: 44px;
   padding-top: 6px;
   padding-bottom: 6px;
   margin-bottom: 5px;
   position: relative;
   text-align: left;
   color: white;
   width: 100%;

   i {
      position: absolute;
      left: 0;
      top: 1px;
      bottom: 0;
      width: 32px;
      line-height: 34px;
      font-size: 1.6em;
      text-align: center;
   }

   .social-divider {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 32px;
      border-right: 1px solid rgba(0, 0, 0, 0.2);
   }

   .social-text {
      font-size: 16px;
   }

   &:hover {
      color: white;
   }
}

.btn-facebook {
   background-color: @fb-action;
}

.btn-google {
   background-color: @gg-action;
}

.btn-expcity {
   background-color: @expcity-action;

   i {
      font-size: 1.4em;
      top: 0px;
   }
}

/*gallery***/
.th {
   border: solid 4px #FFFFFF;
   box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
   display: inline-block;
   line-height: 0;
   transition: all 200ms ease-out;
}

.gallery {
   text-align:center;
}

.gallery-item {
   height: 160px;
   text-align: center;
   margin-bottom: 6px;
   padding: 6px;
   float:none;
   display: inline-block;
}

.gallery-subItem {
   background-color: black;
}

.gallery-item-img {
   height: 100%;
   max-width: 100%;
}

/***********/

.tags {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.tags li {
  float: left;
}

.tags-item {
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tags-item::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tags-item::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tags-item:hover {
  background-color: #3A64D6;
  color: white;
}

.tags-item:hover::after {
   border-left-color: #3A64D6;
}

/******/
.appModal {
   z-index: 1;
   background-color:rgba(0, 0, 0, 0.53);
}

.appModal-content {
   box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.65);
   background-color: white;
   width: 95%;
   height: 95%;
   max-width: 768px;
   max-height: 480px;
}

.appModal-header {
   height: 10%;
}

.appModal-body {
   height: 90%;
}

/************Widget Panel****************/

.widgetSlidePanel {
   opacity: 0;
   z-index: 1000;
   background-color: white;
   color: #4E4E4E;

   .widgetSlidePanel-header {
      font-size: 1.9rem;
      height: 7%;
      padding: 0.5rem;
   }

   .widgetSlidePanel-content {
      height: 93%;
      overflow: hidden;
      overflow-y: scroll;
      padding: 0.5rem;
   }
}


.widgetSlidePanel--fixed {
   position: fixed;
}

.widgetSlidePanel-sideLeftRight {
   width: 0;
   bottom: 0;
}

.widgetSlidePanel-sideTopBottom {
   width: 100%;
   height: 0px;
}

.widgetSlidePanel-rightShadow {
   box-shadow: -4px 0px 3px 0px rgba(0, 0, 0, 0.5);
}

.widgetSlidePanel-leftShadow {
   box-shadow: 4px 0px 3px 0px rgba(0, 0, 0, 0.5);
}

.widgetSlidePanel-bottomShadow {
   box-shadow: 0px -4px 3px 0px rgba(0, 0, 0, 0.5);
}

.widgetSlidePanel-topShadow {
   box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.5);
}


.responsiveImage--landscape {
   width: 90%;
   height: auto;
}

.responsiveImage--portrait {
   height: 90%;
   width: auto;
}

/*****/

// Media queries
@media (max-height: 479px) {
   .appModal-content {
      width: 95%;
      height: 95%;
   }
}

@media (max-width: 767px) {
}

@media (min-width: 768px) {
   .appModal-content {
      width: 60%;
      height: 60%;
   }
}

@media (min-width: 992px) {
}