<div class="appModal row overContent overContent--centerAll" ng-show="featureSrv.appMain.showAppModal">
   <div class="appModal-content col-md-12 overContent overContent--centerAll">
      <div class="appModal-header row">
         <div class="col-xs-10 fullHeight">
            <b>title</b>
         </div>
         <div class="col-xs-2 fullHeight text-right">
            <i class="fa fa-times-circle-o fa-2x" ng-click="featureSrv.appMain.showAppModal=!featureSrv.appMain.showAppModal"></i>
         </div>
      </div>
      <div class="appModal-body row verticalScroll">
         
      </div>
   </div>
</div>