﻿<div class="albumModal">
   <div class="modal-header text-center">
      <a href="" ng-click="appMain.modal.close()"><i class="glyphicon glyphicon-remove pull-left"></i></a>
      <b>Media Library - Limit 4Mb to upload</b>
   </div>
   <div class="modal-body text-center">

      <div class="row">         
         <div class="media-library media-library-singleUpload">
            <div data-role="header">

               <div class="media-library-titleVideo" style="display:none;">
                  <input type="text" placeholder="Videos need a title, write one please" class="form-control  input-sm" />
               </div>

               <div id="uploadMedia" <!--data-only="image"--> class="text-center"> </div>
            </div>
            <ul class="list-unstyled media-library-list"></ul>
         </div>
      </div>

      <div class="row">
         <div class="mediaGallery-item col-xs-4 col-md-3" ng-repeat="item in appMain.media.userMedia.images" ng-click="appMain.media.selectMedia(item,'image')">
            <div class="mediaGallery-item-frame fullHeight">
               <img ng-src="{{ item.imageUrl }}" class="img-responsive overContent overContent--centerAll">
            </div>
         </div>
         <div class="mediaGallery-item col-xs-4 col-md-3" ng-repeat="item in appMain.media.userMedia.videos" ng-click="appMain.media.selectMedia(item,'video')">
            <div class="mediaGallery-item-frame fullHeight">
               <img ng-src="{{ item.t1Url }}" cl class="img-responsive overContent overContent--centerAll">
               <span class="mediaGallery-item_iconPlay glyphicon glyphicon-play overContent overContent--centerAll"></span>
            </div>
         </div>
      </div>

   </div>
</div>
