<div class="row gallery">
<div class="col-xs-12 col-sm-6 col-md-3 gallery-item" ng-repeat="item in [1,2,3,4,5,6,7,8,9,10,11,13]   track by $index">
   <div class="gallery-subItem th fullHeight fullWidth " ng-click="featureSrv.showInfoStation()">
      <img src="http://placehold.it/350x150" class="gallery-item-img" />
      <!--<img src="http://www.villard.biz/assets/Uploads/projects/portrait-f1.jpg" class="gallery-item-img" />-->
   </div>
</div>